/* AYUKSHA PREMIUM STYLE */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#0b0f19;
color:#fff;
}

.container{
width:95%;
max-width:1200px;
margin:auto;
}

.header{
background:#111827;
padding:18px 0;
text-align:center;
border-bottom:2px solid #FFD700;
position:sticky;
top:0;
z-index:999;
}

.header h1{
font-size:38px;
font-weight:800;
color:#FFD700;
letter-spacing:2px;
}

.header p{
color:#d1d5db;
margin-top:5px;
}

.banner{
padding:25px 0;
}

.banner img{
width:100%;
border-radius:20px;
display:block;
}

#searchBox{
width:100%;
margin-top:20px;
padding:16px;
border:none;
border-radius:14px;
font-size:16px;
outline:none;
background:#1f2937;
color:#fff;
}

.apps{
padding:35px 0;
}

.apps h2{
text-align:center;
font-size:30px;
margin-bottom:25px;
color:#FFD700;
}

#appList{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:18px;
}

.app-card{
background:#171f2f;
border-radius:18px;
padding:16px;
display:flex;
align-items:center;
gap:15px;
border:1px solid rgba(255,215,0,.15);
transition:.3s;
}

.app-card:hover{
transform:translateY(-4px);
border-color:#FFD700;
box-shadow:0 0 25px rgba(255,215,0,.25);
}

.app-card img{
width:65px;
height:65px;
border-radius:15px;
object-fit:cover;
}

.app-card span{
flex:1;
font-size:18px;
font-weight:600;
}

.app-card a{
text-decoration:none;
background:#FFD700;
color:#111;
padding:11px 20px;
border-radius:10px;
font-weight:700;
transition:.3s;
}

.app-card a:hover{
background:#fff;
}

footer{
text-align:center;
padding:25px;
color:#9ca3af;
}

@media(max-width:768px){

.header h1{
font-size:30px;
}

.apps h2{
font-size:24px;
}

.app-card{
padding:14px;
}

.app-card img{
width:55px;
height:55px;
}

.app-card span{
font-size:16px;
}

.app-card a{
padding:8px 14px;
font-size:14px;

}

}
.share-box{
    text-align:center;
    margin:30px 0;
}

.share-btn{
    background:#FFD700;
    color:#000;
    border:none;
    padding:15px 30px;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.share-btn:hover{
    transform:scale(1.05);
}
